body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 27, 44);
    margin: auto;
    height: 100%;
    width: 100%;
}
.card {
    width: 20%;
    height: 40% !important;
    margin: auto;
    padding: 20px !important;
    display: flex;
    color: #e9e9e9;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #453c64;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.337);
}

.card > h2 {
    margin: 0px 0px;
    padding: 0px 0px;
    color: rgb(177, 114, 206);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

from > div {
    width: 100%;
    margin-bottom: 10px!important;
}

.data > input {
    width: 97%;
}

.controll {
    display: flex;
    align-items: center;
    justify-content: space-around;
}